* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.home-on {
  width: 100vw;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#CE9FFC), to(#7367F0));
  background-image: linear-gradient(#CE9FFC, #7367F0);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: #c4c4c46c;
}

.navbar h1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 2vw;
  font-size: 3rem;
  cursor: pointer;
}

.navbar h2 {
  margin-right: 5vw;
  font-size: 1.2rem;
}

.navbar .others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar #user-name {
  color: #FFCC33;
  cursor: pointer;
}

.navbar #user-name:hover {
  border-bottom: 2px solid #FFCC33;
}

.navbar #log-out-button {
  padding: 0.5rem 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9966), to(#FF5E62));
  background-image: linear-gradient(#FF9966, #FF5E62);
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.navbar #log-out-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EB1E80), to(#F42A5A));
  background-image: linear-gradient(#EB1E80, #F42A5A);
}

.new-election {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-election h3 {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9966), to(#FF5E62));
  background-image: linear-gradient(#FF9966, #FF5E62);
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.new-election h3:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EB1E80), to(#F42A5A));
  background-image: linear-gradient(#EB1E80, #F42A5A);
}

.card-container {
  width: 80vw;
  min-height: 70vh;
  margin-top: 10vh;
  margin-left: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media all and (max-width: 650px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar h1 {
    font-size: 2rem;
    margin-top: 3vh;
  }
  .navbar h2 {
    font-size: 1rem;
    padding: 0 .2rem;
  }
  .navbar #log-out-button {
    padding: 0.2rem .5rem;
    background-color: #F18781;
  }
  .navbar #log-out-button:hover {
    background-color: #88FFA2;
  }
  .navbar .others {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2vh;
  }
}
/*# sourceMappingURL=homeOn.css.map */