@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.home-out {
  width: 100vw;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#04CE9B), to(#64E408));
  background-image: linear-gradient(#04CE9B, #64E408);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: #c4c4c4a4;
}

.navbar h1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 2vw;
  font-size: 3rem;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: 'Bangers', cursive;
}

.main-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 80vh;
}

.main-part .texts h2 {
  color: #F6594F;
  font-size: 2.5rem;
  margin-bottom: 1vh;
  -webkit-animation: leftCome 1s linear forwards;
          animation: leftCome 1s linear forwards;
}

.main-part .texts p {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-animation: rightCome 1s 1s linear forwards;
          animation: rightCome 1s 1s linear forwards;
}

.main-part .texts .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-part .texts .buttons h3 {
  padding: .5rem 1rem;
  background-color: #F6594F;
  color: white;
  margin-top: 3vh;
  margin-right: 2vw;
  border-radius: 1rem;
  opacity: 0;
  -webkit-animation: visible 1s 2s ease-in forwards;
          animation: visible 1s 2s ease-in forwards;
  cursor: pointer;
}

.main-part .texts .buttons h3:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFB347), to(#FFCC33));
  background-image: linear-gradient(#FFB347, #FFCC33);
}

.main-part img {
  width: 35vw;
}

@media all and (max-width: 650px) {
  .main-part img {
    margin-top: 5vh;
    width: 70vw;
  }
}

@-webkit-keyframes leftCome {
  from {
    opacity: 0;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftCome {
  from {
    opacity: 0;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes rightCome {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes rightCome {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=homeOut.css.map */