@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.home-out{
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(#04CE9B,#64E408);
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 15vh;

    background-color: #c4c4c4a4;
    h1{
        flex: 2;
        //color: whitesmoke;
        margin-left: 2vw;
        font-size: 3rem;
        letter-spacing: 2px;
        cursor: pointer;
        font-family: 'Bangers', cursive;
    }

        
}
.main-part{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: 80vh;

    .texts{
        h2{
            color: #F6594F;
            font-size: 2.5rem;
            margin-bottom: 1vh;
            animation: leftCome 1s linear forwards;
        }
        p{
            transform: translateX(-100vw);
            animation: rightCome 1s 1s linear forwards;
        }
        .buttons{
            display: flex;

            h3{
                padding: .5rem 1rem;
                //background-image:linear-gradient(#EB1E80,#F42A5A) ;
                background-color: #F6594F;
                color: white;;
                margin-top: 3vh;
                margin-right: 2vw;
                border-radius: 1rem;

                opacity: 0;
                animation: visible 1s 2s ease-in forwards;
                
                
                cursor: pointer;
                &:hover{
                    background-image:linear-gradient(#FFB347,#FFCC33) ;
                }
            }
        }
    }

    img{
        width: 35vw;
    }
}

@media all and (max-width:650px){
    .main-part img{
        margin-top: 5vh;
        width: 70vw;
    }
 
}

@keyframes leftCome{
    from{
        opacity: 0;
        transform: translateX(100vw);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes rightCome{
    from{
        opacity: 0;
        transform: translateX(-100vw);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes visible{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}